extends layout

block content
  h1 Чат
  h4 Тут буде чат.

  //- style
  //-   include ../public/stylesheets/login.css
  -
    let username = user.username;
    let userid   = user._id;

  p Привіт, #{username}! Твій id: #{userid}.

  //- script
  //-   include ../public/javascripts/login.js